In [2]:
import pandas as pd
df = pd.read_csv('train_anonimized.csv')
df.head()

           NAICS_DESC     DATE  REVENUE  anonimized_name
0  Commercial Banking  8/30/21       22  Jason Brown INC
1  Commercial Banking  8/31/21       98  Jason Brown INC
2  Commercial Banking   9/1/21       77  Jason Brown INC
3  Commercial Banking   9/2/21       82  Jason Brown INC
4  Commercial Banking   9/3/21       76  Jason Brown INC